<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso</title>
    <link rel="stylesheet" href="../CSS/tenteNovamenteStyle.css">
</head>
<body>
    <div class="container sucesso">
        <h1>Cadastrado com Sucesso</h1>
        <h2>Realizado com Sucesso</h2>
        <img src="https://img.icons8.com/wired/64/000000/check-file--v1.png"/>
        <p><a href="Login_Participante.html">Voltar a tela Principal</a></p>
    </div>
</body>
</html>