@charset "UTF-8";

h1{
    text-align: center;
}

.eventos{
    border: 1px solid black;
    border-collapse: collapse;    
    left: 18%;
    position: absolute;        
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}


.eventos th{
	font-size: 18px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
    text-align: left;
}

.eventos td{
	font-size: 18px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
    text-align: left;
}

tr:nth-child(even){
    background-color: #eee;
}

.content{
    margin: 5px 20px;
}
