@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

thead{
    background-color: rgb(123, 215, 234);
}

h1{
    text-align: center;
}

.eventos{
    border: 1px solid black;
    border-collapse: collapse;    
    margin: 70px 0;
    position: absolute;
    left: 60%;
}

.eventos th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
    text-align: left;
}

.eventos td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
    text-align: left;
}

tr:nth-child(even){
    background-color: #eee;
}

.content{
    margin: 30px 80px;
}

fieldset{
    width: 50%;
    padding: 20px;
}

legend{
    font-size: 20px;
    padding: 8px;
    font-weight: bold;
}


.td-label{
    font-size: 22px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
}

.td-input{
    height: 30px;
    border-radius: 5px;
    padding: 5px 8px;
}

.td-select {
    height: 30px;
    border-radius: 5px;
    padding: 5px 8px;
}

textarea{
    padding: 10px;
}