*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

thead{
    background-color: rgb(123, 215, 234);
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;    
    
}

th, td{
    padding: 12px;
    text-align: left;
}

tr:nth-child(even){
    background-color: #eee;
}

.content{
    margin: 30px 80px;
}

h1{
    text-align: center;
}

.eventos{
    margin: 70px 0;
    position: absolute;
    left: 60%;
}